@media only screen and (max-width: 768px) {
  .modal-close {
    position: sticky !important;
    right: 0.5rem !important;
  }

  .time-slots {
    max-height: 194px;
    overflow-y: scroll;
  }
}

/* Responsive adjustment */
@media (max-width: 640px) {
  .refresh-button {
    width: 100%;
    justify-content: center;
  }
}
